/* SPECIFICHE GENERICHE */
.banner {
    -fx-background-color: #31243e;
}

.background {
    -fx-background-color: #ecece7;
}

.root {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

/* SCHERMATA LOGIN */
/* Stile base del messaggio */
.label-message {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-font-size: 11px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-opacity: 0; /* Inizialmente nascosto */
}

/* Stile per il messaggio di errore */
.label-error {
    -fx-background-color: #f2dede;
    -fx-text-fill: #cf0000;
    -fx-opacity: 1;
}

/* Stile per il messaggio di successo */
.label-success {
    -fx-background-color: #dff0d8;
    -fx-text-fill: #3c763d;
    -fx-opacity: 1;
}

/* Effetto hover grassetto sulla scritta "Registrati" */
.label-hover-effect {
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

.label-hover-effect:hover {
    -fx-font-weight: bold;
}

/* STILE SIDEBAR */
.sidebar {
    -fx-background-color: #31243e;
    -fx-min-height: 100%;
    -fx-max-height: Infinity;
    -fx-pref-height: Infinity;
}

/* Stile di base per i pulsanti */
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #ecece7;
    -fx-padding: 0 0 0 20px;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: transparent;
}

/* Effetto Hover */
.sidebar-btn:hover {
    -fx-background-color: rgba(128, 185, 178, 0.3);
}

/* Stile per il pulsante selezionato */
.sidebar-btn-selected {
    -fx-background-color: #2A9DF4;
    -fx-border-color: #80b9b2;
    -fx-border-width: 0px 0px 0px 3px;
}

/* Stile per icone */
.sidebar-btn FontIcon {
    -fx-icon-color: #ecece7;
    -fx-icon-size: 22px;
}

/* Stile per il testo */
.sidebar-btn Label {
    -fx-text-fill: #ecece7;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 16px;
}

/* SCHERMATA ORDINI */
.labelOrder {
    -fx-text-fill: #ecece7;
}

.searchButton {
    -fx-background-color: #80b9b2;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #31243e;
}

/* SCHERMATA STATISTICHE */
.labelStats {
    -fx-text-fill: #ecece7;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 20px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #80b9b2;
}

.default-color1.chart-bar {
    -fx-bar-fill: #80b9b2;
}

.default-color2.chart-bar {
    -fx-bar-fill: #80b9b2;
}

/* SCHERMATA LISTA ORDINI PROGRAMMATI */
.labelListaOrdini {
    -fx-background-color: #31243e;
    -fx-padding: 10px
}

/* BOTTONE CANCELLA */
.cancelButton {
    -fx-background-color: #E74C3C;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.cancelButton:hover {
    -fx-background-color: #C0392B;
}

/* BOTTONE CREAZIONE */
.buttonCreate {
    -fx-background-color: #80b9b2;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

.formFont {
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 14px;
    -fx-text-fill: #31243e;
}

/* SCHERMATA PRODUCT MANAGEMENT */
.schedaProdotto {
    -fx-background-color: #80b9b2;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 14px;
    -fx-text-fill: #31243e;
}

/* STILE DELLE TABELLE */
.column-header-background {
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-text-fill: #31243e;
}

.table-row-cell:focused {
    -fx-background-color: #80b9b2;
    -fx-text-fill: black;
}
.table-row-cell:selected {
    -fx-background-color: #80b9b2;
    -fx-text-fill: black;
}

.table-view {
    -fx-background-color: white;
}

.table-row-cell:hover {
    -fx-background-color: lightgray;
}

/* STILE DELLO SPINNER */
.spinner {
    -fx-border-color: #31243e;
}

/* Stile del campo di testo dentro lo spinner */
.spinner .text-field {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

/* Stile dei bottoni dello Spinner */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #31243e;
    -fx-border-radius: 5px;
}

/* Cambia colore quando il pulsante è premuto */
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: #4f3a63;
}

/* Stile della freccia dello Spinner */
.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: white;
}

/* STILE DEI COMBOBOX */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #31243e;
    -fx-text-fill: #31243e;
}

/* Stile della freccetta nei ComboBox */
.combo-box .arrow-button {
    -fx-background-color: #80b9b2;
    -fx-border-color: #31243e;
}

/* STILE DEI TEXTFIELDS */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #31243e;
    -fx-border-radius: 5px;
    -fx-text-fill: #333;
}

/* STILE DEI DATEPICKER */
.date-picker {
    -fx-background-color: white;
    -fx-border-color: #31243e;
    -fx-text-fill: #31243e;
}

/* Stile della freccetta nel DatePicker */
.date-picker .arrow-button {
    -fx-background-color: #80b9b2;
    -fx-border-color: #31243e;
}

/* Stile del calendario nel DatePicker */
.date-picker .popup-content {
    -fx-background-color: white;
    -fx-border-color: #31243e;
}

.createButton {
    -fx-background-color: #c1fff6;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}

/* STILE DEL DIALOG MODIFICA */
.custom-dialog {
    -fx-background-color: #ecece7;
}

.custom-dialog .label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.custom-dialog .button {
    -fx-background-color: #80b9b2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
}

.custom-dialog .button:hover {
    -fx-background-color: #16a085;
}