/* Colori per tutte le schermate */
.banner {
    -fx-background-color: #31243e;
}

.background {
    -fx-background-color: #ecece7;
}

/* Ensure no borders for the main application window */
.root {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

/* Background e colore label login */
/* Stile base del messaggio */
.label-message {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-font-size: 11px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-opacity: 0; /* Inizialmente nascosto */
}

/* Stile per il messaggio di errore */
.label-error {
    -fx-background-color: #f2dede;
    -fx-text-fill: #cf0000;
    -fx-opacity: 1;
}

/* Stile per il messaggio di successo */
.label-success {
    -fx-background-color: #dff0d8;
    -fx-text-fill: #3c763d;
    -fx-opacity: 1;
}

/* Effetto hover grassetto sulla scritta "Registrati" */
.label-hover-effect {
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

.label-hover-effect:hover {
    -fx-font-weight: bold;
}

/* Sidebar style */
.sidebar {
    -fx-background-color: #31243e;
    -fx-min-height: 100%;
    -fx-max-height: Infinity;
    -fx-pref-height: Infinity;
}

/* Stile di base per i pulsanti */
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #ecece7;
    -fx-padding: 0 0 0 20px;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-color: transparent;
}

/* Effetto Hover */
.sidebar-btn:hover {
    -fx-background-color: rgba(128, 185, 178, 0.3);
}

/* Stile per il pulsante selezionato */
.sidebar-btn-selected {
    -fx-background-color: #2A9DF4;
    -fx-border-color: #80b9b2;
    -fx-border-width: 0px 0px 0px 3px;
}

/* Stile per icone */
.sidebar-btn FontIcon {
    -fx-icon-color: #ecece7;
    -fx-icon-size: 22px;
}

/* Stile per il testo */
.sidebar-btn Label {
    -fx-text-fill: #ecece7;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 16px;
}

/* Schermata Ordini */
.labelOrder {
    -fx-text-fill: #ecece7;
}

.searchButton {
    -fx-background-color: #80b9b2;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #31243e;
}

/* Schermata statistiche */
.labelStats {
    -fx-text-fill: #ecece7;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 20px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #80b9b2;
}

.default-color1.chart-bar {
    -fx-bar-fill: #80b9b2;
}

.default-color2.chart-bar {
    -fx-bar-fill: #80b9b2;
}

/* Schermata lista ordini programmati */
.labelListaOrdini {
    -fx-background-color: #31243e;
    -fx-padding: 10px
}

.cancelButton {
    -fx-background-color: #E74C3C;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #ecece7;
}

/* */
.buttonCreate {
    -fx-background-color: #80b9b2;
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 12px;
    -fx-text-fill: #31243e;
}

.formFont {
    -fx-font-family: "Segoe UI Historic";
    -fx-font-size: 14px;
    -fx-text-fill: #31243e;
}